<article class="page py-10">
  <div class="container">
    {%- comment -%}
    <h1 class="title mb-4">
      {{ page.title }}
    </h1>
    {%- endcomment -%}

    <div class="description rte">
      {{ page.content }}
    </div>
  </div>
</article>
